* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-header-top {
  width: 100%;
  height: 48px;
  background: #f5f5f7cc;
}

.mobile-header-bottom {
  width: 100%;
  height: 73px;
  background-color: #ffffff;
}

.item1-px {
  width: 16px;
  height: 19px;
}

.item2-px {
  width: 16.05px;
  height: 16.03px;
}

.item3-px {
  width: 15.12px;
  height: 17.6px;
}

.item4 {
  width: 14px;
  border: 1.2px solid;
}

.item-box {
  width: 48px;
  height: 48px;
}

.item-box4 {
  width: 48px;
  height: 48px;
}

.gap {
  gap: 7px;
}

.gap1 {
  gap: 16px;
}

.gap2 {
  gap: 12px;
}

.gap3 {
  gap: 4px;
}

.gap4 {
  gap: 8px;
}

.gap5 {
  gap: 20px;
}

.lgap1 {
  gap: 12px;
}

.lgap2 {
  gap: 16px;
}

.header-text {
  padding: 18px 31px;
}

.font-size {
  font-size: 14px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 900px) {
  .item-box4 {
    display: none;
  }

  .mobile-header-top {
    justify-content: center;
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .laptop-header {
    display: none;
  }

  .bg-image-add {
    display: none;
  }
}

/* endees card section */

.card {
  width: 100%;
  height: 500px;
  margin: 12px 0 0;
}

.card-c {
  width: 100%;
  height: 500px;
  margin: 12px 0 0;
}

.bg-image-1 {
  background-image: url(./Image/gold\ IP.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.card-text {
  width: 241px;
  height: 114px;
}

.card-text-t {
  width: 241px;
  height: 147px;
}

.card-text-tw {
  width: 235px;
  height: 135px;
}

.c6-card-text-t {
  width: 257px;
  height: 115px;
}

.text1 {
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f7;
}

.text1-t {
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f7;
}

.text2 {
  font-size: 18px;
  font-weight: 400;
  color: #f5f5f7;
}

.text2-t {
  font-size: 18px;
  font-weight: 400;
  color: #f5f5f7;
}

.c-text-box1 {
  width: 107px;
  height: 36px;
  background-color: #0071e3;
  border-radius: 999px;
}

.c-text3 {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.c-text-box2 {
  width: 66px;
  height: 36px;
  border: 1px solid #2997ff;
  border-radius: 999px;
}

.c-text4 {
  width: 26px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #2997ff;
}

.text-margin1 {
  margin: 350px 74px 36px 75px;
}

.bg-image-2 {
  background-image: url(./Image/blue\ IP.png);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.text-margin2 {
  margin: 36px 74px 350px 75px;
}

.c2-text-box1 {
  width: 107px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 999px;
}

.c2-text3 {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.c2-text-box2 {
  width: 66px;
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 999px;
}

.c2-text4 {
  width: 26px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.c3-card-text {
  width: 100%;
  height: 81.86px;
}

.c3-text2-box {
  width: 100%;
  height: 32px;
}

.c3-text2 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.c3-text2-tw {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.c3-img {
  width: 180px;
  height: 41.86px;
  background-image: url(./Image/image\ 1.png);
  background-position: center;
  background-size: cover;
}

.hidden-bg3 {
  display: none;
}

.bg-image-3 {
  background-image: url(./Image/ipad.png);
  background-size: cover;
  background-position: center;
}

.bg1-image-3 {
  background-image: url(./Image/ipad.png);
  background-size: cover;
  background-position: center;
}

.text-margin3 {
  margin: 36px 0 330.14px;
}

.card-margin {
  margin-bottom: 20px;
}

.c3-footer-text {
  font-size: 14px;
  font-weight: 500;
  background: -webkit-linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-top: 328.14px;
}

.laptop-header {
  font-size: 12px;
  font-weight: 400;
}

.bg-image-add {
  background-image: url(./Image/gift-magic.png);
  background-position: center;
  background-size: cover;
}

.text-margin-add {
  margin: 446px 758px 82px 757px;
}

.laptop-text {
  color: #000000;
}

.c4-text-box1 {
  width: 241px;
  height: 91px;
}

.bg-image-4 {
  background-image: url(./Image/Airpods.png);
  background-size: cover;
  background-position: center;
}

.text-margin4 {
  margin: 299px 74px 54px 75px;
}

.c5-apple-icon {
  width: 22px;
  height: 27px;
  background-position: center;
  background-size: cover;
}

.c5-text1 {
  width: 121px;
  height: 34px;
  font-size: 28px;
  font-weight: 700;
}

.c5-text1 {
  width: 121px;
  height: 34px;
  font-size: 28px;
  font-weight: 700;
}

.c5-textp {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  font: bold;
}

.bg-image-5 {
  background-image: url(./Image/watch.png);
  background-size: cover;
  background-position: center;
}

.text-margin5 {
  margin: 46px 78px 319px 77px;
}

.c6-text1 {
  font-size: 30px;
  font-weight: 700;
  font: bold;
}

.bg-image-6 {
  background-image: url(./Image/macbook.png);
  background-size: cover;
  background-position: center;
}

.text-margin6 {
  margin: 42px 66px 343px 67px;
}

.c7-card-text {
  width: 257px;
  height: 116px;
}

.bg-image-7 {
  background-image: url(./Image/Business.png);
  background-size: cover;
  background-position: center;
}

.text-margin7 {
  margin: 47px 66px 285px 67px;
}

@media screen and (min-width: 768px) {
  .card {
    height: 650px;
  }

  .card-c {
    height: 490px;
  }

  .bg-image-1 {
    background-image: url(./Image/tablet-\ IP16pro.png);
  }

  .card-text {
    width: 405px;
    height: 156px;
  }

  .card-text-t {
    height: 161px;
  }

  .text1 {
    font-size: 42px;
    font-weight: 600;
  }

  .text2 {
    font-size: 22px;
  }

  .c-text-box1 {
    width: 123px;
    height: 44px;
  }

  .c-text3 {
    font-size: 16px;
  }

  .c-text-box2 {
    width: 68px;
    height: 44px;
  }

  .c-text4 {
    width: 28px;
    font-size: 16px;
  }

  .text-margin1 {
    margin: 58px 181px 436px 182px;
  }

  .gap2 {
    gap: 16px;
  }

  /* card1 tugsgul heseg card2 ehlel heseg */

  .bg-image-2 {
    background-image: url(./Image/Tablet-IP16.png);
  }

  .text-margin2 {
    margin: 58px 181px 436px 182px;
  }

  .c2-text-box1 {
    width: 123px;
    height: 44px;
  }

  .c2-text3 {
    font-size: 16px;
  }

  .c2-text-box2 {
    width: 68px;
    height: 44px;
  }

  .c2-text4 {
    width: 28px;
    font-size: 16px;
  }

  /* card2tugsgul heseg card3 elel heseg */

  .bg1-image-3 {
    display: none;
  }

  .bg-image-3 {
    display: block;
    background-image: url(./Image/ipad-tablet.png);
  }

  .c3-card-text {
    width: 100%;
    height: 79px;
  }

  .c3-text2 {
    font-size: 22px;
  }

  .c3-img {
    height: 39px;
  }

  .text-margin3 {
    margin: 0;
    padding: 58px 181px 62px 182px;
  }

  .card-margin {
    margin-bottom: 0px;
  }

  .c3-footer-text {
    font-size: 20px;
    margin-top: 427px;
  }

  .column-two {
    width: 100%;
    display: grid;
    /* grid-auto-rows: 490px; */
    grid-template-columns: repeat(2, 1fr);
    margin: 12px;
    gap: 12px;
  }

  .bg-image-4 {
    background-image: url(./Image/tablet-airpods.png);
  }

  .text-margin4 {
    margin: 287px 62px 42px 63px;
  }

  .c4-text-box1 {
    height: 109px;
  }

  .gap5 {
    gap: 16px;
  }

  .bg-image-5 {
    background-image: url(./Image/tablet-watch.png);
  }

  .text-margin5 {
    margin: 46px 66px 309px 65px;
  }
}

@media screen and (min-width: 900px) {
  .card {
    height: 692px;
  }

  .card-c {
    height: 580px;
  }

  .bg-image-1 {
    background-image: url(./Image/laptop-IP16pro.png);
  }

  .card-text {
    height: 172px;
  }

  .text1 {
    font-size: 52px;
  }

  .text2 {
    font-size: 24px;
  }

  .text-margin1 {
    margin: 55px 758px 465px 757px;
  }

  /* card1 tugsgul heseg card2 ehlel heseg */

  .bg-image-2 {
    background-image: url(./Image/Laptop-IP16.png);
  }

  .text-margin2 {
    margin: 55px 758px 465px 757px;
  }

  .gap1 {
    gap: 20px;
  }

  .gap3 {
    gap: 16px;
  }

  /* endees 2 card yvah heseg */

  .tablet-column-two {
    margin: 0;
    display: flex;
  }

  .column {
    width: 744px;
    height: 1494px;
  }

  .column-two {
    display: grid;
    grid-auto-rows: 580px;
    grid-template-columns: repeat(2, 1fr);
    margin: 12px;
    column-gap: 12px;
  }

  .bg1-image-3 {
    display: block;
    background-image: url(./Image/laptop-iPad.png);
  }

  .bg-image-3 {
    display: none;
  }

  .c3-text2 {
    font-size: 18px;
  }

  .gap4 {
    gap: 9px;
  }

  .c3-footer-text {
    margin-top: 384px;
    font-size: 14px;
  }

  .text-margin3 {
    margin: 0;
    padding: 58px 310px 63px;
  }

  .bg-image-4 {
    background-image: url(./Image/Airpods2.png);
  }

  .text-margin4 {
    margin: 401px 286px 58px;
  }
}
